# fly.toml app configuration file generated for cdeanalytics on 2025-11-02T09:46:39-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cdeanalytics'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  ENV = 'production'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
